body {

}

.background{
    width: 100%;
    height: 100vh;
    background-image: url(../img/top_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 1;
    position: relative;
}

.subtitle p{
    text-align: center;
}