<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>

    <div id="app">
        <v-app>

            <v-main>
                <!--        -->
                <!-- Header -->
                <!--        -->
                <v-card class="header" height="175">
                    <v-app-bar absolute dark prominent>

                        <template v-slot:img="{ props }">
                            <v-img v-bind="props" gradient="to top right, rgba(100,115,201,.7), rgba(25,32,72,.7)">
                            </v-img>
                        </template>

                        <v-toolbar-title>{{my[0].name}}</v-toolbar-title>
                        <v-spacer></v-spacer>

                        <!-- Tab menu -->
                        <template v-slot:extension>
                            <v-tabs fixed-tabs v-model="tab">
                                <v-tab>{{tab_title_list[0].title}}</v-tab>
                                <v-tab>{{tab_title_list[1].title}}</v-tab>
                                <v-tab>{{tab_title_list[2].title}}</v-tab>
                            </v-tabs>
                        </template>
                    </v-app-bar>
                </v-card>
<!-- 

                <!--  -->
                <!-- Top -->
                <!--  -->
                <v-tabs-items v-model="tab">
                    <v-tab-item>
                        <!-- Background img -->
                        <div class="background"></div>
                    </v-tab-item>

                    <v-tab-item>

                        <!--       -->
                        <!-- Profile -->
                        <!--       -->

                        <!-- About -->
                        <div>
                            <v-card>
                                <v-img height="250" src="./img/profile_icon.JPG">
                                </v-img>

                                <v-card-title> {{ my[0].name }} </v-card-title>
                                <v-card-text> {{ my[2].about }}</v-card-text>

                                <v-divider class="mx-4"></v-divider>

                                <v-card-text>
                                    <v-icon>mdi-email</v-icon>
                                    {{ my[3].email }}
                                </v-card-text>
                            </v-card>
                        </div>


                        <!-- Information -->
                        <div id="information">
                            <template v-for="category in categories">
                                <v-card>
                                    <v-card-title primary-title>
                                        {{ category.title }}
                                    </v-card-title>

                                    <v-card-text v-for="item in category.list">
                                        <p>{{ item.year }}</p>
                                        <p>{{ item.content}}</p>
                                    </v-card-text>
                                </v-card>
                            </template>
                        </div>
                    </v-tab-item>

                    <v-tab-item>
                        works
                    </v-tab-item>
                </v-tabs-items>

    </div>
    </v-card>



    </v-main>
    </v-app>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="js/main.js"></script>

</body>

</html>